@charset "utf-8";
/*reset*/
body,ul,li,canvas,img{margin: 0;padding: 0;}
ul,li{list-style: none;}
header,nav,section{display: block;}
em,i{font-style:normal;font-weight:normal;}

/*tab*/
.imgs-tab{overflow: hidden;padding: 15px 40px;}
.imgs-tab li{float: left;padding: 10px 15px;font-size: 20px;font-weight: bold;cursor: pointer;}
.imgs-tab .navline-r{border-right: 1px solid #333;}
.imgs-tab li.current{background-color: #ccc;}
.imgs-container .overflow{overflow: hidden;}
.imgs-container .imgsList{display: none;}
.imgs-container .imgsList.current{display: block;}

/*首页*/
.imgsWrap{letter-spacing: -3px;font-size: 0px;line-height: 0px;margin: 0 auto;background-color: rgb(245,245,245);}
.imgsWrap .row{font-size: 0;}
.imgsWrap .imgItem{display: inline-block;*display: inline;zoom:1;vertical-align: top;overflow: hidden;cursor: pointer;}
.imgsWrap .imgItem a{display: inline-block;*display: inline;zoom:1;text-decoration: none;}
.imgsWrap .imgItem a img{display: inline-block;*display: inline;zoom:1;}
.imgItem{display: inline-block;position: relative;z-index: 0;}
.imgItem-cover{position: absolute;z-index: 1;width: 100%;height: 60px;font-size: 14px;bottom: -60px;color: #fff;font-family: '微软雅黑';letter-spacing: 0px;line-height: 14px;
	-webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;}
.imgItem:hover .imgItem-cover{
	display: inline-block;bottom:0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .7)));                                                          
    background-image: -webkit-linear-gradient(top,transparent, rgba(0, 0, 0, .7));
    background-image: -moz-linear-gradient(top,transparent, rgba(0, 0, 0, .7));
    background-image: -o-linear-gradient(top,transparent, rgba(0, 0, 0, .7));
    background-image: linear-gradient(to bottom,transparent, rgba(0, 0, 0, .7));
}
.imgItem-title{width: 100%;margin-bottom: 5px;text-indent: 5px;font-size: 14px;line-height: 14px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}

.imgItem-descript{width: 100%;display: inline-block;display: inline;*zoom:1;}
.imgItem-time{line-height: 16px;font-size: 12px;margin-left: 5px;}
.imgItem-opt{display: inline-block;display: inline;*zoom:1;float: right;margin-right: 5px;}

.comment-btn{display: inline-block;line-height: 16px;height: 16px;width: 16px;cursor: pointer;vertical-align: middle;font-size: 14px;text-align: center;border-radius: 100%;background-color: rgba(40,40,40,.5);}
.comment-btn:hover,.comment-btn-active{background-color: rgb(40,40,40);}

/*详细列表*/
.imgs-details{position: fixed;left: 0;top: 0;display: none;}
.imgs-details .detailShow{display: block;}
.imgs-details .detailCanvas{background-color: rgba(51,51,51,.9);}
.imgs-details .commentWrap{margin: 0 auto;background-color: rgba(51,51,51,.5);}
.commentWrap .detailTitle{font-size: 20px;color: #fff;padding: 10px;}
.commentWrap li{padding: 10px;font-size: 18px;color: #eee;}
