@charset 'utf-8';
/*****reset******/
body,div,h1,ul,li,input,textarea,p,img,button,select,dl,dt,dd,em,i,table,tr,th,td,a,legend{padding: 0;margin: 0;font-family: 'Microsoft Yahei';}
ul,ol,li{list-style: none;}
input, textarea,button {
	outline-style:none;
	background: transparent;
}
img{border: none;}
table {border-spacing: 0;border-collapse: collapse;}
input[type="text"], input[type="search"], input[type="password"] { -webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0; -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; -webkit-appearance: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-user-modify: read-write-plaintext-only;}
textarea,input,button,select{border: none;border: none; background: transparent; outline: none; resize:none; border-radius: 0;}
select{-webkit-appearance:none;cursor: pointer;}
button{cursor: pointer;}
a,a:hover{text-decoration: none;}
html{height: 100%;}
body{min-height: 100%;position: relative;}
/*****public*****/
.f-left{float: left;}
.f-right{float: right;}
/*文本居中*/
.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.t-top{vertical-align: top;}
.overflow{overflow: hidden;position: relative;}
/*文本色*/
.c-fff{color: #fff;}
.c-878787{color: #878787;}
.c-444d1f{color: #444d1f;}
.c-718828{color: #718828;}
.c-858585{color: #858585;}
.c-b3b3b3{color: #b3b3b3;}
.c-616161{color: #616161;}
.c-768f28{color: #768f28;}
.c-515a38{color: #515a38;}
.c-747474{color: #747474;}
.c-7b8b49{color: #7b8b49;}
.c-8c8c8c{color: #8c8c8c;}
.c-1e1d1d{color: #1e1d1d;}
.c-6a6a6a{color: #6a6a6a;}
.c-a2a2a2{color: #a2a2a2;}
.c-848484{color: #848484;}
.c-fab12a{color: #fab12a;}
.c-818181{color: #818181;}
.c-b0b0b0{color: #b0b0b0;}
.c-333333{color: #333333;}
.c-666666{color: #666666;}
.c-747474{color: #747474;}
.c-3e3e3e{color: #3e3e3e;}
.c-373737{color: #373737;}
.c-999999{color: #999999;}
.c-e95454{color: #e95454;}
.c-889f40{color: #889f40;}
.c-a9a9a9{color: #a9a9a9;}
.c-737373{color: #737373;}
.c-b8b8b8{color: #b8b8b8;}
.c-3c3c3c{color: #3c3c3c;}
.c-656565{color: #656565;}
.c-c2c2c2{color: #c2c2c2;}
.c-9d9d9d{color: #9d9d9d;}
.c-686868{color: #686868;}
.c-ff4b4b{color: #ff4b4b;}
.c-44abd2{color: #44abd2;}
.c-717171{color: #717171;}
.c-adadad{color: #adadad;}
.c-030303{color: #030303;}
.c-a1a1a1{color: #a1a1a1;}
.c-4c4c4c{color: #4c4c4c;}
.c-c6c6c6{color: #c6c6c6;}
.c-232323{color: #232323;}
.c-d9d9d9{color: #d9d9d9;}
.c-87b23d{color: #87b23d;}
.c-acacac{color: #acacac;}
.c-444444{color: #444444;}
.c-727272{color: #727272;}
.c-343434{color: #343434;}
.c-ed3f3f{color: #ed3f3f;}
.c-c00c00{color: #c00c00;}
.c-bbbcbb{color: #bbbcbb;}
.c-8fa767{color: #8fa767;}
.c-808080{color: #808080;}
.c-ff0000{color:#FF0000}
/*字体*/
.font-small{font-size: 12px;}
.font-normal{font-size: 16px;}
/*背景*/
.icons{display:inline-block;*display:inline;*zoom:1;background-image:url(/public/frontend/images/icons.png);background-repeat:no-repeat;background-color:transparent;background-position:-1000px -1000px; vertical-align:middle;overflow:hidden;}

/*动画*/
.animation-translate,
.animation-rotate,
.animation-scale{ -webkit-transition-property: -webkit-transform; transition-property: transform; -webkit-transition-timing-function: ease; transition-timing-function: ease; -webkit-transition-duration: 0.8s; transition-duration: 0.8s; }
.animation-opacity{ -webkit-transition: -webkit-transform,opacity ease; transition: -webkit-transform,opacity ease; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }
.animation-all{ -webkit-transition: all ease; transition: all ease; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }
.animation .animation-translate{ -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; }
.animation .animation-rotate{ -webkit-transform: rotate(0) translate3d(0, 0, 0) !important; transform: rotate(0) translate3d(0, 0, 0) !important; }
.animation .animation-scale{ -webkit-transform: scale(1) !important; transform: scale(1) !important; }
.animation .animation-opacity{ opacity: 1 !important; -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; }

/*清浮动*/
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
/*隐藏显示*/
.hide{display: none;}
/*大输入框&按钮*/
/*.input-big{border:1px solid #626262; height: 50px;line-height: 50px;text-indent: 10px;font-size: 18px;}*/
/*.input-big,.button-big,.input-bigger,.button-bigger{display:block;width: 100%;}*/
/*.input-bigger{border:1px solid #c9c9c9; height: 70px;line-height: 70px;text-indent: 20px;font-size: 20px;}*/

/*checkbox*/
/*.checkbox{width: 20px;height: 20px;border:1px solid #9b9b9b;border-radius: 4px;vertical-align: middle;margin-right: 6px;}*/
/*背景图居中*/
.bgcenter{background-repeat: no-repeat;background-position: center;background-color:#ccc;-moz-background-size: cover;-ms-background-size: cover;-o-background-size: cover;background-size: cover;}
/*分页*/
.pagination{overflow: hidden;text-align: center;}
.pagination a{display: inline-block;width: 42px;height: 42px;color: #7f7f7f;font-size: 20px;border:1px solid #b3b3b3;text-align: center;line-height: 45px;margin: 0 6px;font-weight: lighter;}
.pagination a.active{background:#879f3f;color: #fff;}

/*公用组件*/
.open-pop{overflow: hidden;z-index: 1;}
.pop{position: fixed;left: 0;top: 0;right: 0;bottom: 0;width: 100%;height: 100%;z-index: 10;background: rgba(10,10,10,0.27);display: none;}
.pop-body{width: 430px; height: 260px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;box-shadow: 0 0 50px 0 #666;border-radius: 2px;}
.tips-pop{background: transparent;}
.tips-body{background: #fff;border: 6px solid #c3c3c3;border: 6px solid rgba(0,0,0,0.09);width: 160px;height: 80px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
/*.tips-arrow{position: relative;}*/
.tips-arrow:after{content: '';width: 0;height: 0;border: 6px solid #c3c3c3;border: 6px solid rgba(0,0,0,0.09);border-bottom: none;border-left-color: transparent;border-right-color: transparent;position: absolute;left: 50%;bottom:-12px;}
.tips-arrow:before{content: '';width: 0;height: 0;border: 6px solid #fff;border-bottom: none;border-left-color: transparent;border-right-color: transparent;position: absolute;left: 50%;bottom:-6px;}
/*按钮样式*/
input.enterinput:focus{border: 1px solid #c3d294!important;box-shadow: 0 0 5px 0 #c3d294;}
.btn{display: inline-block;padding: 7px 20px;font-size: 12px;}
.btn-cancel{background:#eaede2;color: #7b8b49;}
.btn-ok{background:#7b8b49;color: #fff;}
.btn-shop{background: #b6912d;color: #fff;}
.btn-order{background: #87b23d;color: #fff;}
.btn-cancel:hover{background:#87b23d!important;color: #fff;border-color: transparent!important;}
.btn-ok:active{background:#87b23d!important;}
/*checkbox样式*/
.icon-checkbox{border-radius: 100%;width: 12px;height: 12px;padding: 6px;border: 1px solid #d4d4d4;cursor: pointer;}
.icon-checkbox.checked{border: 1px solid #889f40;background-position: -346px -154px;}

/*登陆注册错误提示*/
.loginerror,.tips{font-size: 12px;color: #ed3f3f;margin: 5px 0;padding: 0 0 0 5px;vertical-align: middle;white-space: nowrap;}
input.error,select.error{border: 1px solid #e72e2e!important;}
/*****models*****/
.main{width: 1080px;margin: 0 auto;}
/*header*/
.header{background: #87b23d;position: relative;z-index: 10;}
.header .main{background: #87b23d;}
.logo{float: left;width: 320px;height: 72px;background-position: 0 12px;text-indent: -9999px;}
/*.search{height: 36px;width: 195px;line-height: 36px;border: 1px solid #c9c9c9;margin: 32px 0 28px;overflow: hidden;position: relative;}
.search input{height: 100%;width: 100%;*line-height: 36px;padding: 0 0 0 12px;font-size: 16px;}
.search button{position: absolute;top: 0;right: 0;width: 38px;height: 100%;text-align: center;}
.search .icon-search{width: 18px;height: 18px;background-position: -32px -64px;}
.search ::-webkit-input-placeholder{font-size: 14px;}
.search ::-moz-placeholder{font-size: 14px;}
.search :-ms-input-placeholder{font-size: 14px;}*/
.header-operate{padding: 20px 0;font-size: 12px;}
.header-operate li{float: right;/*width: 110px;*/height: 32px;line-height: 32px;text-align: center;border-radius: 8px;background: #fff;margin-left: 16px;padding: 0 16px;}
.header-operate li a{white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.header-operate .shop-num{font-size:14px;vertical-align: middle;padding: 0 4px;}
.outstanding{-webkit-animation:outstanding 1s ease;animation:outstanding 1s ease;color: #fff;background: rgba(135,178,61,0.7);box-shadow: 0 0 4px 2px rgba(135,178,61,0.7);border-radius: 4px;}
.icon-user{width: 14px;height: 16px;background-position: -352px -128px;}
.icon-order{width: 14px;height: 18px;background-position: -320px -128px;}
.icon-shop{width: 18px;height: 18px;background-position: -288px -128px;}
.header-operate .icons{margin: 0 5px 0 0;}
/*.header-operate .header-shop{position: relative;}
.header-operate li.shop-info-slide{border-radius: 8px 8px 0 0;}
.header-operate .header-shop-btn{position: relative;}
.header-operate .header-shop-btn:after{content: '';display: block;width: 0;height: 0;border-style: solid;border-width: 5px 3px;border-color: transparent;border-top-color: #c3c3c3;border-bottom: none;position: absolute;top: 50%;left: 110%;margin-top: -3px;}
.shop-info{width: 244px;font-size: 12px;background: #fff;position: absolute;top: 100%;right: 0;z-index: 10;line-height: 1.3;text-align: left;border-radius: 8px 0 8px 8px;box-shadow: 1px 2px 3px 0 #999;display: none;}
.shop-info .shop-info-container{margin: 14px 12px;overflow: hidden;padding: 0 0 10px;border-bottom: 1px solid #dadada;}
.shop-info .shop-info-pictrue{width: 42px;height: 42px;overflow: hidden;}
.shop-info .shop-info-content{margin-left: 56px;line-height: 1.7;}
.shop-info .shop-info-btn{padding: 0 12px 14px;overflow: hidden;}
.shop-info .shop-info-btn a{display: block;padding: 8px 16px;background: #87b23d;font-size: 14px;border-radius: 6px;}

.shop-info .shop-info-content p{overflow: hidden;}
.shop-info .shop-info-title .f-left{width: 140px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.shop-info .shop-info-none{padding: 14px 12px;}*/

/*footer*/
.footer{position: absolute;left: 0;bottom: 0;width: 100%;border-top: 1px solid #8c8e86;font-size: 14px;line-height: 2;background: #fff;}
.footer .main{padding-top: 20px;border-top: 1px solid #8c8e86;margin-top: -1px;background: #fff;}
.icon-callme{width: 14px;height: 20px;background-position: -128px -96px;margin: 0 8px 0 0;}
.icon-position{width: 14px;height: 20px;background-position: -160px -96px;margin: 0 8px 0 0;}
.footer .footer-social{margin-bottom: 10px;}
.footer .footer-social a{margin-right: 45px;}
.footer .footer-social .icons{width: 34px;height: 32px; margin-right: 12px;}
.footer .icon-wx{background-position: -64px -96px;}
.footer .icon-wb{background-position: 0 -96px;}
.footer .copyright{margin: 12px 0 6px;}

/*nav*/
.navbar,.navbar .main{background: #fff;border-bottom: 2px solid #87b23d;font-size: 14px;}
.navbar{width: 100%;position: relative;z-index: 10;background: #fff;}
.fixed{position: fixed;left: 0;top: 0;}
.navbar .main{margin-bottom: -2px;background: #fff;}
.navbar .nav{overflow: hidden;float: left;padding: 5px 0;}
.navbar .nav li{float: left;}
.navbar .nav span{margin-left: -6px;}
.navbar .nav a{display: inline-block;margin: 0 30px;/*width: 108px;padding: 11px 0;text-align: center;*/white-space: nowrap;padding: 3px 14px;border-radius: 8px;}
.navbar .nav a.active,.navbar .nav a:hover{background: #87b23d;color: #fff;}
/*.navbar .nav-operate{padding: 11px 0;float: right;font-size: 14px;}
.navbar .login-line{margin: 0 6px;}
.navbar .nav-shop{font-size: 12px;}
.navbar .nav-shop span{margin:0 5px;font-size: 16px;vertical-align: middle;}
.navbar .icon-shop{width: 18px;height: 18px;background-position: 0 -65px;margin: 0 6px 0 0;}*/

/*固定操作*/
.fix-operate{position: absolute;right:-50px;top:110px;}
.fix-operate li{width: 32px;height: 34px;border: 1px solid #ddd;text-align: center;line-height: 34px;margin-bottom: 14px;position: relative;}
.fix-operate li a{display: block;width: 100%;height: 100%;}
.fix-operate li i{*margin: 8px 0;}
.icon-operate-shop{width: 18px;height: 18px;background-position: -256px -160px;}
.icon-operate-weixin{width: 20px;height: 16px;background-position: -288px -160px;}
.icon-operate-feedback{width: 18px;height: 18px;background-position: -320px -160px;}
.fix-operate .wx2code img{display: none;position: absolute;top: 0;left: 110%;}
.fix-operate .wx2code:hover img{display: block;}
.index .main{position: relative;}

.index,.detail,.list,.order,.personal,.show,.appraise,.pay-fail,.about{padding: 0 0 180px;min-width: 1080px;}
.icon-star{width: 18px;height: 18px;background-position: -224px -64px;}
.icon-star-gray{width: 18px;height: 18px;background-position: -192px -96px;}
.table-list-head{width: 110px;}
.table-list-pictrue{width: 78px;height: 78px;overflow: hidden;}
.table-list-pictrue a{display: block;width: 100%;height: 100%;}
.table-list-title{width: 150px;}

/*首页*/
.index-focus{height:420px;}
.index-focus ul,
.index-focus li{height:100%;}
.index-focus li a{display: block;width: 100%;height: 100%;overflow: hidden;}
.index-focus li img{display: block;}
/*.index-focus li img{display:block;}*/
.index-pagination{position: absolute;left: 50%;bottom: 20px;-moz-transform: translate(-50%,0);-ms-transform: translate(-50%,0);-o-transform: translate(-50%,0);-webkit-transform: translate(-50%,0);}
.index-pagination span{display: inline-block;width: 12px;height: 12px;border-radius: 100%;background: #e0e0df;margin: 0 6px;cursor: pointer;}
.index-pagination span.active{background: #c5d497;}
.index-items{margin: 16px 0 40px;}
.index-title{font-size: 16px;padding: 40px 16px 0;}
.index-title span{font-size: 12px;}
.picture-items li{float: left;width: 24.5%;margin-bottom: 16px;}
.picture-items li.item-first .item-wrap{margin: 0 8px 0 0;}
.picture-items li.item-last .item-wrap{margin: 0 0 0 8px;}
.picture-items .item-wrap{margin: 0 8px;height: 284px;}
.picture-items .item-border{padding: 6px;}
.picture-items .item-img .item-hover{position: absolute;left: 0;bottom: -30px;height: 30px;background: rgb(119,170,30);background: rgba(119,170,30,0.6);font-size: 12px;line-height: 30px;text-align: center;}
.picture-items .item-img .icon-item-shop{width: 22px;height: 20px;background-position: 0 -64px;margin: 0 10px 0 0;}
.picture-items .item-border:hover{border: 1px solid #b1c27c;padding: 5px;}
.picture-items .item-border:hover .animation-scale{-webkit-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);transform:scale(1.2,1.2);}
/*.picture-items .item-border:hover .item-operate span{display: none;}*/
/*.picture-items .item-border:hover .item-operate button{display: block;}*/
.picture-items .item-border:hover .item-hover{bottom: 0;}
.picture-items .item-img{overflow: hidden;height: 160px;background: url(/public/frontend/images/loading.svg) center no-repeat #ccc;position: relative;}
.picture-items .item-img a{display: block;width: 100%;height: 100%;overflow: hidden;}
.picture-items .item-cover{line-height: 2;font-size: 12px;padding-top: 12px;}
.picture-items .item-title{font-weight: bold;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.picture-items .item-desc{white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.picture-items .item-operate{overflow: hidden;line-height: 44px;}
.picture-items .item-price{font-size: 19px;float: left;}
.picture-items .item-price del{font-size: 12px;vertical-align: bottom;margin: 0 0 0 15px;}
.picture-items .item-operate span{font-size: 12px;}
.picture-items .item-like{cursor: pointer;}
/*.picture-items .item-operate button{width: 90px;height: 28px;margin: 8px 0;text-align: center;line-height: 28px;display: block;float: right;background: #9dbe34;font-size: 13px;display: none;}*/


/*.picture-items{overflow: hidden;margin: 40px 0;}
.picture-items li{float: left;width: 33.333%;overflow: hidden;margin-bottom: 16px;}
.picture-items li.item-first .item-wrap{margin: 0 8px 0 0;}
.picture-items li.item-last .item-wrap{margin: 0 0 0 8px;}
.picture-items .item-wrap{margin: 0 8px;overflow: hidden;position: relative;}
.picture-items .item-wrap:hover .item-cover{top: 0;}
.picture-items .item-title{position: absolute;left: 0;bottom: 100%;width: 100%;padding: 12px 0;background: rgb(102,127,25);background: rgba(102,127,25,0.52);text-align: center;}
.picture-items .item-cover{position: absolute;left: 0;top: 100%;bottom: auto;width: 100%;height: 100%;background: rgb(217,217,217);background: rgba(217,217,217,0.57);}
.picture-items .item-hover{position: absolute;left: 0;bottom: 0;width: 100%;}
.picture-items .item-price{font-size: 28px;margin: 0 16px;}
.picture-items .item-hover-title{font-weight: bold;margin: 10px 16px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.picture-items .item-desc{font-size: 15px;line-height: 1.5;margin: 0 16px 10px;}
.picture-items .item-operate{text-align: center;background: #879043;white-space: nowrap;}
.picture-items .item-operate a{display: inline-block;width: 45%;padding: 13px 0;vertical-align: middle;}
.picture-items .item-operate span{*padding: 0 20px;}*/

/*列表*/
.list-nav{border-bottom: 1px solid #ccc;overflow: hidden;position: relative;}
.list-nav li{float: left;height: 40px;padding: 0 0 0 14px;font-size: 14px;}
.list-nav a{display: inline-block;height: 100%;padding: 0 14px 0 0;*vertical-align: top;}
.list-nav .active a,.list-nav a:hover{color: #9fbc46;}
.list-nav .underline{position: absolute;bottom: 0;left: -100%;width: 100%;height: 0;border-left:none;border-bottom: 4px solid #9fbc46;}
/*.list-items .items-container:hover .item-cover{top: 0;}
.list-items .list-desc{font-size: 18px;line-height: 3;padding: 0 8px;}
.list-items .list-title{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.list-items .item-cover{background: none;}
.list-items .item-price{margin: 0;}
.list-items .list-price{line-height: 38px;}*/
.list .list-nav{margin:40px 0 0;}
.list .list-ad{height: 160px;background: #ccc;margin-top: 16px;overflow: hidden;}
.list .list-ad a{display: block;width: 100%;height: 100%;}
.list .picture-items{margin-right: -8px;}
.list .picture-items li{width: 33.3333%;}
.list-container{margin: 18px 0 0 0;position: relative;}
.list-items{margin-left: 110px;*margin-right: 100px;}
.list-aside{float: left;width: 90px;}
/*.list-aside .ranking{border: 1px solid #ddd;margin: 0 0 30px;}
.list-aside .ranking li{margin: 20px 12px;overflow: hidden;position: relative;}
.list-aside .ranking .ranking-content{font-size: 12px;margin-left: 74px;}
.list-aside .ranking .ranking-img{width: 64px;height: 52px;overflow: hidden;float: left;}
.list-aside .ranking .ranking-img a{display: block;width: 100%;height: 100%;}
.list-aside .ranking .ranking-desc{height: 32px;overflow: hidden;}
.list-aside .ranking .ranking-price{font-size: 14px;}
.list-aside .ranking .ranking-price strong{font-size: 16px;}
.list-aside .ranking .ranking-price .f-right{font-size: 12px;}
.list-aside .ranking .ranking-title{border-bottom: 1px solid #ddd;font-size: 18px;padding: 14px 12px;margin: 0; }
.list-aside .ranking em{display: block;position: absolute;background: rgb(107,128,42);background: rgba(107,128,42,0.75);left: 0;top: 0;width: 24px;height: 22px;color: #fff;text-align: center;line-height: 22px;font-size: 14px;}
.list-aside .ranking .ranking-hot{background: #ff5c5a;}*/
.list-aside{font-size: 12px;}
.list-aside .list-filter{margin-top: 16px;}
.list-aside .aside-title{font-size: 13px;border-bottom: 1px solid #ccc;padding: 8px 0;font-weight: bold;}
.list-aside li{padding: 12px 0 0;}
.list-aside li.active a,
.list-aside li:hover a{color: #87b23d;}
/*详情*/
.detail-container{padding-right: 190px;position: relative;overflow: hidden;margin: 25px 0 0;}
.detail-header{overflow: hidden;margin: 0 0 45px;}
.detail-show{width: 400px;}
.detail-focus{width:100%;height:320px;overflow: hidden;position: relative; border:1px solid #e9e9e9;}
.detail-focus li{display: none;position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.detail-pagination{overflow: hidden;margin-top: 5px;padding: 12px 0 0 2px;}
.detail-pagination li{float: left;margin-right: 12px;}
.detail-pagination li a{display: block;width: 85px;height: 85px;overflow: hidden;}
.detail-pagination li.active{border: 2px solid #a2a166;margin: -2px 10px 0 -2px;position: relative;}
.detail-pagination li.active:before{content: '';display: block;width: 0;height: 0;border-style: solid;border-width: 7px;border-color: transparent;border-bottom-color: #a2a166;border-top: none;position: absolute;bottom: 100%;left: 50%;margin-left: -5px;}
.detail-info{line-height: 1.5;margin: 0 0 0 434px;}
.detail-info h1{font-size: 16px;font-weight: 700;color: #000;font-family: "microsoft yahei";padding-bottom: 2px;line-height: 2;}
.detail-info strong{font-size: 26px;}
.detail-info del{font-size: 16px;margin: 0 16px 0;}
.detail-info h2{font-size: 12px;font-weight: normal;}
.detail-operation{border-top: 1px solid #e3e3e3;margin: 10px 0 0 0;padding: 15px 0 0 0;font-size: 12px;}
.detail-operation dl{overflow: hidden;margin-bottom: 10px;}
.detail-operation dt{float: left;}
.detail-operation dt{width: 50px;margin-top: 10px;}
.detail-operation ul{overflow: hidden;padding: 2px;}
.detail-operation li{float: left;padding: 2px 12px;border: 1px solid #cdcdcd;margin: 6px 10px 6px 0;cursor: pointer;}
.detail-operation li.select,.detail-operation li:hover{border: 1px solid #7b8b49;margin: 6px 10px 6px 0;position: relative;}
.detail-operation li.select:after{content: "";display: block;position: absolute;right: 0;bottom: 0;width: 12px;height: 12px;background: url(/public/frontend/images/icons.png) no-repeat -128px -128px;}
.detail-operation li.disable{opacity: 0.7;border: 1px solid #cdcdcd;cursor: auto;pointer-events:none;}
.detail-operation .i-amount{overflow: hidden;margin: 6px 0 6px 0;}
.detail-operation .i-amount input{height: 25px;border: 1px solid #7b8b49;margin: 0 -1px;border-left:none;border-right: none;line-height: 25px;text-align: center;width: 42px;vertical-align: top;font-size: 13px;float: left;}
.detail-operation .i-amount a{display: block;float: left;border:1px solid #7b8b49;height: 25px;width: 26px;font-size: 22px;text-align: center;line-height: 22px;}
.detail-operation .i-increase{border-radius: 2px 0 0 2px;}
.detail-operation .i-reduce{border-radius: 0 2px 2px 0;}
/*.detail-operation .i-amount span{display: inline-block;position: relative;height: 37px;width: 25px;vertical-align: middle;}*/
/*.detail-operation .i-amount a{display: inline-block;position: absolute;left: 0;width: 23px;height: 14px;border: 1px solid #626262;}*/
/*.detail-operation .i-amount a:before{content: '';display: block;width: 0;height: 0;border-width: 5px 4px;border-style: solid;border-color: transparent;position: absolute;left: 50%;top: 50%;margin-left: -4px;margin-top: -3px;}*/
/*.detail-operation .i-increase{top: 0;}
.detail-operation .i-reduce{bottom: 0;}*/
/*.detail-operation .i-amount a.i-increase:before{border-bottom-color: #626262;border-top: none;}
.detail-operation .i-amount a.i-reduce:before{border-top-color: #626262;border-bottom: none;}*/
.detail-operation .amount-desc{margin-left: 24px;font-size: 12px;float: left;line-height: 27px;}
.detail-operation .detail-operation-img li{width: 36px;height: 36px;padding: 0;}
.detail-operation .detail-operation-img a{display: block;width: 100%;height: 100%;overflow: hidden;}
.detail-operation .detail-link{font-size: 12px;padding: 6px;border-top: 1px dashed #cdcdcd;border-bottom: 1px dashed #cdcdcd;}
.detail-operation .detail-link a{margin-right: 14px;}
.detail-operation .detail-link i{margin-right: 5px;}
.detail-operation .icon-share{width: 14px;height: 12px;background-position: -128px -64px;}
.detail-operation .icon-collect{width: 12px;height: 12px;background-position: -160px -64px;}
.detail-operation .icon-review{width: 12px;height: 12px;background-position: -192px -64px;}

.detail-operation .detail-btns{padding-top: 30px;}
.detail-operation .detail-btns button{font-size: 18px;padding: 8px 50px;}
.detail-operation .detail-btns .btn-buy{background: #7b8b49;margin-right: 16px;}
.detail-operation .detail-btns .btn-basket{border: 1px solid #7b8b49;}
.detail-desc,
.detail-review,
.detail-appraisal{border-top: 1px solid #E4E8D8;}
.detail-desc p{/*color: #3d3d3d;font-size: 15px;line-height: 2;font-weight: bold;padding: 0 6px 40px;*/}
.detail-title{display: inline-block;font-size: 15px;border-left: 2px solid #7b8b49;padding-left: 6px;margin: 10px 0 15px;line-height: 0.8;}
.detail-review{padding: 24px 0;overflow: hidden;}
.detail-review .f-left{width: 33.333%;text-align: center;font-size: 14px;line-height: 1.5;}
.detail-review .review-num{font-size: 48px;vertical-align: middle;margin-right: 32px;}
.review-propotion li{margin: 10px 0 0;}
.review-propotion span{display: inline-block;width: 40px;text-align: left;}
.review-propotion em{display: inline-block;width: 110px;height: 12px;background:#ffe0a6;font-size:0;text-align: left;}
.review-propotion i{display: inline-block;height: 12px;background: #fab12a;font-size:0;}
.detail-review .btn-review{padding-top: 8px;}
.detail-review .btn-review button{display: inline-block;width: 110px;height: 40px;border-radius: 2px;background: #7b8b49;text-align: center;line-height: 40px;margin-top: 20px;}
.detail-appraisal .appraisal-list{overflow: hidden;margin: 20px 0;}
.detail-appraisal .appraisal-head{float: left;width: 42px;height: 42px;border-radius: 100%;overflow: hidden;background: #fff1c8;}
.detail-appraisal .appraisal-content{font-size: 14px;margin-left: 52px;line-height: 1.5;}
.detail-appraisal .appraisal-pic{overflow: hidden;margin-top: 10px;}
.detail-appraisal .appraisal-pic li{float: left;border:1px solid #eaeaea;overflow: hidden;margin-right: 10px;width: 46px;height: 46px;}
.detail-appraisal .appraisal-operation{margin: 10px 0;}
.icon-like{width: 24px;height: 24px;background-position: -256px -64px;cursor: pointer;margin-right: 8px;vertical-align: bottom;}

.attantion-info{display: none;margin: 10px 0 0 0;}
.attantion-close{display: none;font-size: 14px;position: absolute;top: 10px;right: 10px;}
.detail-attantion .detail-filter{position: relative;padding: 0 0 0 10px;margin: 0 0 0 -10px;border: 1px solid #c00;z-index: 10;}
.detail-attantion .attantion-close,
.detail-attantion .attantion-info{display: block;}
.detail-attantion .detail-btns{display: none;}

.detail-aside{width: 150px;position: absolute;top: 0;right: 0;}
.detail-aside li{margin: 0 0 16px;}
.detail-aside li:hover img{-webkit-transform:scale(1.2);transform:scale(1.2);}
.detail-aside .aside-img{width: 150px;height: 125px;overflow: hidden;box-shadow: inset 0 0 30px 0 #666;}
.detail-aside .aside-desc{margin: 12px 0 0 0;text-align: center;font-size: 12px;}
.fieldset-line{border:none;border-top: 1px solid #ccc;}
.fieldset-line legend{font-size: 12px;padding: 0 10px;text-align: center;width:50px\9;margin:0 auto;}



/*订单*/
.order-header{padding:45px 0 50px;overflow: hidden;}
.order-header .f-left{font-size: 22px; margin-top: 20px;}
.order-header .icon-myorder .icons{width: 28px;height: 32px;background-position: -288px -64px;margin-right: 10px;}
.order-header .icon-myshop .icons{width: 34px;height: 30px;background-position: -320px -64px;margin-right: 10px;}
.order-step .step{display: block;float: right;width: 34px;height: 34px;border-radius: 100%;line-height: 34px;text-align: center;color: #fff;background: #ddd;position: relative;margin-left: 165px;}
.order-step .step span{display: block;color: #ddd;position: absolute;top: 150%;left: 0;font-size: 16px;width: 100%;white-space: nowrap;}
.order-step .step i{display: block;position: absolute;top: 50%;margin-top: -2px;height: 4px;width: 90px;background: #ddd;}
.order-step .active{background: #889f40;}
.order-step .active span{color: #889f40;}
.order-step .active i{background: #889f40;}
.order-step .step .step-line-right{left: 100%;}
.order-step .step .step-line-left{right: 100%;}
.order-address{overflow: hidden;margin: 0 0 24px;}
.order-address .address-block{float: left;position: relative;width: 248px;height: 164px;background-position: 0 -160px;line-height: 2;font-size: 12px;margin-right: 30px;cursor: pointer;}
.order-address .address-name{margin: 12px 12px 8px;font-size: 14px;font-weight: bold;border-bottom: 1px solid #e3e3e3;padding: 0 0 6px;}
.order-address .address-detail,.order-address .address-phone{margin: 0 12px;}
.order-address .address-block .icons{position: absolute;right: 5px;bottom: 5px;width: 38px;height: 34px;background-position: -224px -96px;display: none;}
.order-address .address-block.active .icons{display: block;}
.address-manage a{font-size: 12px;margin: 0 16px;}
.order-list tbody td{border-bottom: 1px solid #efefef;}
.order-list tbody tr:last-child td{border-bottom:none;}
.table-order{width: 100%;font-size: 14px;text-align: center;line-height: 1.5;margin-bottom: 10px;}
.table-order thead{border: 1px solid #efefef;border-left-width: 4px;border-left-color:#889f40;background: #f7f7f7;font-size: 14px;margin: 24px 0;overflow: hidden;}
.table-order thead th{padding: 12px 16px;font-weight: lighter;}
.table-order tbody td{padding: 20px 12px;}
.order-list-pictrue{width: 74px;height: 74px;overflow: hidden;/*display: inline-block;*/vertical-align: middle;}
.order-list-pictrue a{display: block;widows: 100%;height: 100%;}
.table-order .i-increase,.table-order .i-reduce{width: 26px;height: 24px;display: inline-block;border:1px solid #cdcdcd;text-align: center;line-height: 24px;color: #3e3e3e;vertical-align: middle;}
.table-order .i-amount input{display: inline-block;width: 42px;height: 24px;line-height: 24px;border: 1px solid #cdcdcd;text-align: center;vertical-align: middle;}
.table-order .icon-delet{width: 18px;height: 18px;background-position: -320px -96px;}
.table-order .order-premiums{display: inline-block;padding: 3px 10px;color: #fff;font-size: 14px;font-weight: bold;vertical-align: middle;}
.order-payment td{font-size: 18px;}
.order-payment label{cursor: pointer;}
/*.order-payment .pay-check{display: inline-block;width: 20px;height: 20px;border-radius: 4px;border: 1px solid #9b9b9b;text-align: center;line-height: 20px;margin-right: 14px;vertical-align: middle;}
.order-payment .pay-check i{text-indent: -2px;display: none;*margin: 0 0 10px;}
.order-payment .active .pay-check i{display: inline;display: inline-block;}*/
.order-payment .icon-pay-check{width: 20px;height: 20px;border-radius: 4px;border: 1px solid #9b9b9b;margin-right: 14px;}
.order-payment .active .icon-pay-check{background-position: -154px -123px;}
.order-payment input{width: 1px;height: 1px;opacity: 0;visibility: hidden;}
.order-payment .icon-pay-other{width: 25px;height: 14px;background-position: -288px -96px;margin: 7px 0;}
.pay-platform p{float: left;width: 182px;height: 64px;border: 1px solid #cfcfcf;margin:0 0 0 32px;cursor: pointer;}
.pay-platform .active{border: 3px solid #7b8b49;margin: -2px -2px 0 30px;}
.pay-platform .icon-alipay{background:url(/public/frontend/images/alipay.png) center no-repeat;}
.pay-platform .icon-micropay{background:url(/public/frontend/images/micropay.png) center no-repeat;}
.pay-clearing .clearing-total{font-size: 16px;font-weight: bold;}
.pay-btn .btn{font-size: 18px;padding: 10px 40px;margin-left: 12px;}
/*.pay-btn button{width: 200px;height: 56px;font-size: 22px;text-align: center;line-height: 56px;color:#848484;border: 1px solid #cdcdcd;vertical-align: center;}
.pay-btn button.active{color: #fff;background: #7b8b49;border: none;}*/

/*.table-order tbody .order-address{border-bottom: none;}
.table-order .pay-platform td{border-bottom: none;}*/
.table-order .address-manage td{padding: 0 12px 20px;}
.table-order .pay-clearing td{border-bottom: 8px solid #efefef;line-height: 2;}
.order-pay .premiums-red{margin:0 120px 0 0;background: #ff5c5c;}
.order-shop .premiums-red{margin: 6px;background: #ff5c5c;}
.order-shop .premiums-green{margin: 6px;background: #889f40;}
/*.table-order .pay-btn td{border:none;}*/

.confirm-del{font-size: 14px;text-align: center;padding: 12px 0;}
.confirm-del button{padding: 2px 14px;border-radius: 4px;margin: 12px 4px 0; }
.confirm-del .tips-ok{background: #ff6666;}
.confirm-del .tips-close{background: #87b23d;}
.confirm-warning{padding: 8px;text-align: center;font-size: 14px;}
.icon-warning{width: 24px;height: 22px;background-position: -352px -96px;}

.order-pay .addaddress{width: 50%;}
.order-pay .addaddress thead th{padding: 18px 0;}
.order-pay .addaddress tbody td{padding: 0 10px 16px 0;}
.order-pay .addaddress .addaddress-itemtitle{width: auto;white-space: nowrap;}
.order-pay .addaddress .addaddress-select select{width: 100px;text-indent: 4px;border-radius: 4px;}
.order-pay .addaddress .addaddress-input input{width: 100%;border-radius: 4px;}
.order-pay .addaddress-radio input{vertical-align: middle;}
.order-pay .perfect-birthday label{top: 4px;}

/*个人信息*/
.personal{padding-top: 40px;overflow: hidden;}
.personal-nav{font-size: 14px;float: left;width: 144px;border: 1px solid #e9e9e9;text-align: center;padding-bottom: 80px;}
.personal-nav li{margin: 0 16px;border-bottom: 1px solid #e9e9e9;}
.personal-nav li a{display: block;padding: 16px 0;}
.personal-nav li.active a{color: #7b8b49;}
.personal-container{margin-left: 180px;}
.personal-table{width: 100%;}
.personal-table thead tr{border: 1px solid #efefef;background: #f7f7f7;}
.personal-table thead th{padding: 14px;font-weight: lighter;}
.personal-table tbody td{font-size: 12px;padding: 24px 20px;border-bottom:1px solid #efefef;overflow: hidden;}
/*.personal-table .personal-pic-desc{margin-left: 32px;}*/
.myinfo,
.myorder,
.cancelorder{margin-bottom: 36px;overflow: hidden;}
/*个人信息*/
.myinfo{padding-top: 38px;}
.myinfo .userhead{float: left;}
.myinfo .userhead dt{width: 86px;height: 86px;background-color: #fff1c8;border-radius: 100%;overflow: hidden;}
.myinfo .userhead dd{font-size: 12px;text-align: center;padding: 12px 0 0;}
.myinfo .userhead label{cursor: pointer;}
.myinfo .userhead input{width: 1px;height: 1px;opacity: 0;visibility: hidden;}
.myinfo .myinfo-content{margin-left: 126px;font-size: 12px;}
.myinfo .myinfo-content table{width: 70%;}
.myinfo .myinfo-content thead {border-bottom: 1px solid #e6e6e6;font-weight: bold;}
.myinfo tr{height: 48px;padding: 9px 0;}
.myinfo .myinfo-content .myinfo-left{width: 90px;padding-right:16px;}
.myinfo .myinfo-content .myinfo-right{width: 100px;text-align: right;padding-right: 12px;}
.myinfo input{width: 214px;height: 28px;line-height: 28px;border: 1px solid #cfcfcf;text-indent: 10px;border-radius: 2px;/*display: none;*/}
.myinfo .phone-verify{position: relative; width:214px;display: inline-block;}
.myinfo .phone-verify button{position: absolute;top: 0;right: 0;width: 106px;height: 100%;white-space: nowrap;font-size: 14px;}
.myinfo input.infoerror{border: 1px solid #e72e2e;}
.myinfo .myinfo-edit{font-size: 12px;}
.myinfo .myinfo-edit .myinfo-left{width: 80px;}
.myinfo .myinfo-edit .btn-cancel{margin: 0 0 0 10px;}
/*.myinfo .myinfo-verifybtn input{width: 80px;}*/
/*.myinfo .myinfo-verifybtn button{height: 28px;border:1px solid #ccc;padding: 0 10px;}*/
/*.myinfo .myinfo-content .edit input{display: inline;}
.myinfo .myinfo-content .edit span,
.myinfo .myinfo-content .edit a{display: none;}*/
/*.myinfo .myinfo-content span{display: none;}*/
.myinfo .myinfo-address td{padding-top: 10px;}
.myinfo .myinfo-address .myinfo-left{vertical-align: top;}
.myinfo .myinfo-address .myinfo-right{padding-right: 10px;vertical-align: top;}
.myinfo .myinfo-address textarea{width: 100%;height: 76px;border: 1px solid #cfcfcf;line-height: 1.6;text-indent: 10px;/*display: none;*/}
/*.myinfo .myinfo-address.edit textarea{display: inline;}
.myinfo .myinfo-address.edit span,
.myinfo .myinfo-address.edit a{display: none;}*/
/*.myinfo .myinfo-btn button{display: block;width: 148px;height: 42px;font-size: 16px;margin-top: 30px;text-align: center;line-height: 42px;background: #87b23d;}*/
/*我的账户*/
.myaccount table{width: 100%;}
.myaccount tr{height: 70px;font-size: 14px;border-bottom: 1px solid #dfdfdf;}
.myaccount .myaccount-left{width: 60%;}
.myaccount .t-right{padding-right: 50px;font-size: 16px;font-weight: bold;}
.myaccount .t-right strong{margin: 10px;}
.myaccount .myaccount-btn{display: block;width: 60px;height:30px;text-align: center;line-height: 30px;background: #889f40;}
/*完善信息*/
.perfect-container{border: 1px solid #dedede;}
.perfect-title{font-size: 16px;width: 80%;margin: 0 auto;padding: 70px 0 45px;text-align: center;border-bottom: 1px dashed #dedede;}
.perfect-form{font-size: 12px;width: 25%;margin: 65px auto;}
.perfect-form thead{font-weight: bold;}
.perfect-form td{padding: 8px 10px 8px 0;}

.perfect-form .enterinput{border: 1px solid #cfcfcf;border-radius: 4px;width: 100%;height: 24px;font-size: 14px;text-indent: 10px;color: #343434;}
.perfect-form .perfect-sex input{vertical-align: middle;}
.icon-calendar{width: 15px;height: 15px;background-position: -96px -64px;}
.perfect-birthday{position: relative;}
.perfect-birthday label{position: absolute;top: 10px;right: 16px;}
/*地址管理*/
.address .address-title{font-size: 14px;font-weight: bold;padding: 20px 12px 0;}
.address .address-btn button{display: block;width: 150px;height: 40px;line-height: 40px;text-align: center;background: #7b8b49;font-size: 16px;}
/*管理收货地址*/
.addressmanage table{width: 100%;border: 1px solid #e8e8e8;margin-top: 10px;text-align: center;}
.addressmanage thead{background: #f8f8f8;}
.addressmanage thead td{font-size: 14px;}
.addressmanage tr{height: 60px;font-size: 12px;border-bottom: 1px solid #dfdfdf;}
.addressmanage tbody td{padding: 0 14px;}
.addressmanage tr .active{display: inline-block;width: auto;height: 20px;text-align: center;line-height: 20px;background: #889f40;color: #fff;margin-left: 10px; padding:2px;}
.addressmanage tr a{margin: 0 8px;}
/*.addressmanage .addressmanage-btn{display: block;background: #7b8b49;width: 150px;height: 42px;text-align: center;line-height: 42px;margin-top: 60px;font-size: 16px;}*/
/*添加收货地址*/
.addaddress table{border: 1px solid #e8e8e8;width: 100%;display: none;}
.addaddress tr{font-size: 12px;}
.addaddress td{padding: 10px 0;}
.addaddress .addaddress-title{display: block;font-size: 14px;font-weight: bold;padding: 20px 0;overflow: hidden;}
.addaddress .addaddress-title a{border: 1px solid #e8e8e8;padding: 5px 15px 5px 5px;font-weight: normal;position: relative;}
.addaddress .addaddress-title a:after{content: '';display: block;width: 0;height: 0;border-style: solid;border-width: 5px 3px;border-color: transparent;border-top-color: #c0c0c0;border-bottom: none;position: absolute;top: 50%;right: 5px;margin-top: -3px;}
.addaddress .addaddress-itemtitle{width: 130px;padding-right: 10px;}
.addaddress .addaddress-itemtitle strong{font-size: 18px;color: #ff5c5c;vertical-align: middle;}
.addaddress .addaddress-input input,.addaddress .addaddress-select select{width: 140px;display: block;height: 26px;border: 1px solid #cfcfcf;font-size: 12px;text-indent: 8px;}
.addaddress .addaddress-input textarea{display: block;width: 100%;height: 76px;border: 1px solid #cfcfcf;}
/*.addaddress .addaddress-select select{width: 142px;display: block;height: 26px;border: 1px solid #cfcfcf;font-size: 12px;text-indent: 8px;}*/
/*.addaddress .addaddress-input textarea{display: block;width: 100%;height: 76px;border: 1px solid #cfcfcf;}*/
.addaddress .addaddress-label{width: 46px;}
.addaddress .textare-desc input{width: 400px;}
.addaddress .textare-desc p{margin: 12px 0;}
.addaddress .addaddress-btn .btn-cancel{margin-left: 10px;}

/**我的订单 & 取消订单*/
.myorder .personal-table,.cancelorder .personal-table{margin-bottom: 14px;}
.myorder .personal-table th,.cancelorder .personal-table th{font-size: 12px;}
.myorder .personal-table thead,.cancelorder .personal-table thead{border-left: 4px solid #889f40;}
.myorder .personal-table tbody tr,.cancelorder .personal-table tbody tr{border:solid #efefef;border-width: 0 1px 1px;}
.personal-table .icon-pointer-down{width: 12px;height: 6px;background-position: -64px -64px;margin-left: 8px;}

/*我的收藏*/
.icon-favorites{width: 12px;height: 14px;background-position: -320px 0;margin-right: 5px;}
.activelike .icon-favorites{background-position: -320px -32px;}
/*晒单*/
.show-container{overflow: hidden;padding: 32px 0 0;}
.show-container .show-cols{width: 25%;overflow: hidden;float: left;}
.show-container .show-info{padding: 12px;background: #fff;}
.show-cols .show-item{margin: 0 9px 18px;box-shadow: 4px 4px 10px 0 #bdbbb9;-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:0 0;transform-origin:0 0;}
.show-cols .show-img{display: block;}
.show-cols .show-img img{display: block;width: 100%;height: auto;*vertical-align: top;}
.show-cols .show-img img:hover{-webkit-transform: scale(1.2)!important; transform: scale(1.2)!important;}
.show-info .show-head{width: 36px;height: 36px;overflow: hidden;border-radius: 100%;background: #fff1c8;float: left;}
.show-info .show-head a{display: block;width: 100%;height: 100%;}
.show-info .show-content{margin-left: 48px;line-height: 1.5;}
.show-content .show-user{font-size: 14px;}
.show-content .show-desc{font-size: 12px;}
.show-content .show-desc .f-right{font-size: 16px;}

/*评价*/
.appraise-info{background: #fffbef;border: 1px solid #e4e0be;line-height: 1.8;padding: 20px 16px;font-size: 14px;margin: 45px 0;font-weight: bold;}
.appraise table{width: 100%;font-size: 12px;}
.appraise table tr{text-align: center;border-top: 1px solid #e3e4e2;}
.appraise table td{padding: 16px 0;}
.appraise .appraise-star{font-size: 14px;}
.appraise .appraise-star em{margin: 0 24px 0 6px;}
.appraise .appraise-box{margin: 24px 0 16px;border: 1px solid #d9d9d9;border-top: none;}
.appraise .appraise-upload{/*height: 50px;*/padding: 10px 36px;background: #eeeeee;overflow: hidden;font-size: 12px;line-height: 36px;}
.appraise .appraise-upload label{display: block;margin-right: 24px;position: relative;padding: 0px 14px;overflow: hidden;background: #889f40;font-size: 14px;text-align: center;border-radius: 5px;cursor: pointer;}
.appraise .appraise-upload label span{vertical-align: middle;}
.appraise .appraise-upload input{width: 100%;height: 100%;position: absolute;left: 0;top: 0;cursor: pointer;visibility: hidden;opacity: 0;}
.appraise .appraise-textarea{padding: 16px;}
.appraise .appraise-textarea textarea{display: block;width: 100%;height: 210px;font-size: 16px;border: none;}
.appraise .appraise-alert{font-size: 12px;}
.appraise .appraise-img{overflow: hidden;}
.appraise .appraise-img a{display: block;width: 80px;height: 80px;margin: 6px;overflow: hidden;float: left;}
.appraise .btn-ok{background: #889f40;font-size: 16px;margin: 30px 0 80px;}

/*支付失败*/
.fail-body{text-align: center;margin: 80px 0 190px;}
.fail-body strong{font-size: 33px;}
.fail-body button{font-size: 22px;display: inline-block;padding: 12px 42px;background: #7b8b49;}
.pay-fail-info{background:#fffef5;border:1px solid #f9f6e2;padding: 30px 90px;line-height: 1.7;}


/*修改密码*/
.changepsd{padding: 18px 0 0;}
.changepsd table{width: 100%;}
.changepsd tr{height: 48px;font-size: 12px;}
.changepsd input{width: 214px;height: 28px;line-height: 28px;text-indent: 10px;border: 1px solid #cfcfcf;}
.changepsd .changepsd-left{width: 70px;padding-left: 16px;}
.changepsd select{border: 1px solid #cfcfcf;height: 30px;padding: 0 6px; width:216px}
.changepsd button{display: block;width: 110px;height: 36px;line-height: 36px;text-align: center;background: #7b8b49;font-size: 14px;}

/*浮层*/
.login-pop .pop-body{background: #fff;border: 6px solid #c3c3c3;border: 6px solid rgba(0,0,0,0.09);}
.shop-pop .pop-body{width: 244px;height: 120px;padding: 18px;background: #fff;border: 6px solid rgba(0,0,0,0.09);overflow: hidden;}
.icon-close{width: 12px;height: 12px;background-position: -352px 0;}
.icon-success{width: 48px;height: 48px;background-position: -256px -192px;}
.pop-close{position: absolute;top: 0;right: 0;padding: 18px 18px 8px 8px;}
.pop-content{text-align: center;}
.pop-content .content-title{font-size: 21px;padding: 18px 0 20px;}
.pop-content .content-title strong{margin: 0 0 0 10px;}
.pop-content .content-btns{font-size: 14px;}
.pop-content .content-btns .btn{margin: 0 4px;border-radius: 4px;}
/*.login-pop ul{padding: 0 60px; }
.login-pop li{padding-top: 20px;}
.login-pop .login-reg{line-height: 24px;overflow: hidden;font-size: 16px;}
.login-pop .login-reg .f-right{font-size: 12px;}
.login-pop .enterinput{display: block;width: 100%;height: 36px;line-height: 36px;border: 1px solid #d3d3d3;text-indent: 10px;font-size: 14px;}
.login-pop button{width: 100%;height: 40px;text-align: center;line-height: 40px;background:#889f40;font-size: 13px;font-size: 14px;}
*//*注册&登录*/
.login,.register{position: absolute;left: 0;top: 0;right:0;bottom:0;/*-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-ms-transform: translate(0,-50%);-o-transform: translate(0,-50%);transform: translate(0,-50%);*/width: 100%;height: 340px;margin: auto;*margin-top: 120px;}
.enter-container{padding: 10px 0;overflow: hidden;}
.enter-left{width: 600px;height: 340px;float: left;background-position: center;background-repeat: no-repeat;background-size: cover;}
.enter-box{float: right;width: 380px;box-shadow: 0 0 10px 0 #999;margin-right: 10px;}
.enter-body{width: 306px;margin: 28px auto 30px;}
.enter-body li{margin: 12px 0;}
.enter-header .f-right{font-size: 12px;}
.enter-body .enterinput{display: block;width: 100%;height: 36px;line-height: 36px;border: 1px solid #d3d3d3;text-indent: 10px;font-size: 14px;}
.enter-body .checkbox{font-size: 12px;}
.enter-body .checkbox input{margin-right: 6px;}
/*.register-header{padding-top: 40px;line-height: 2;border-bottom: 1px solid #c5c5c5;overflow: hidden;}
.register-header .f-right{font-size: 18px;}
.register-header .f-left{font-size: 24px;font-weight: bold;}*/
/*.register-body{width: 586px;margin: 40px auto 0;}*/
/*.register-body .register-icon{width: 94px;height: 78px;background-position: -128px -64px;}*/
.enter-verify{position: relative; width:100%;display: inline-block;}
.enter-verify button{position: absolute;top: 0;right: 0;width: 106px;height: 100%;white-space: nowrap;font-size: 14px;}
.enter-body .enter-btn button{width: 100%;height: 40px;text-align: center;line-height: 40px;background:#889f40;font-size: 13px;font-size: 14px;}
.icon-btn-loading{width: 15px;height: 16px;background-position: -192px -128px;-webkit-animation:btnloading 2s ease-in-out infinite;animation:btnloading 2s ease-in-out infinite;}
.enter-body button .icon-btn-loading{margin: 0 10px 0 0;}
/*关于我们*/
/*.about .about-nav{font-size: 18px;border-bottom: 1px solid #d0d0d0;margin: 40px 0 0;}
.about .about-nav li{float: left;margin-bottom: -1px;padding: 10px 0;}
.about .about-nav li.active{border-bottom: 1px solid #656565;}
.about-list .about-title{font-weight: bold;padding: 14px 0;}
.about-list .about-desc{font-size: 14px;line-height: 1.8;}*/

.about .about-ad{height: 160px;background: #ccc;margin: 16px 0;overflow: hidden;}
.about .about-ad a{display: block;width: 100%;height: 100%;}
.about .about-container{overflow: hidden;}
.about .about-nav{float: left;width: 142px;border: 1px solid #e9e9e9;overflow: hidden;}
.about .about-content{margin-left: 160px;}
.about-nav .about-title{font-size: 16px;font-weight: bold;}
.about-nav li{margin: 0 16px -1px;padding: 16px 0;border-bottom: 1px solid #e9e9e9;}
.about-nav li a{font-size: 14px;margin: 0 0 0 16px;}
.about-nav li.active a{color: #7b8b49;}
.about-content .content-title{font-size: 12px;font-weight: bold;line-height: 2.5;border-bottom: 1px solid #949494;margin: 5px 0 10px;}
.about-content p{font-size: 12px;line-height: 2.5;text-indent: 26px;}
/*动画*/
@-webkit-keyframes btnloading {
	0% {-webkit-transform:rotate(0deg);}
	100% {-webkit-transform:rotate(360deg);}
}
@keyframes btnloading {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}
@-webkit-keyframes outstanding {
	0% {-webkit-transform:scale(1);}
	50% {-webkit-transform:scale(1.5);}
	100% {-webkit-transform:scale(1);}
}
@keyframes outstanding {
	0% {transform:scale(1);}
	50% {transform:scale(1.5);}
	100% {transform:scale(1);}
}
